*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  :root{
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.34);
    --hover-shadow: 0px 4px 4px 0px rgba(3,3,3,0.561);
    --main-color:#6400e4;
    --light-black:#141c3a;
    --nav-shadow:0px 0px 10px 0px rgba(0,0,0,0.100);
  }
  
  body{
    font-family: cursive;
    /* background: url("modi2.jpeg"); */
    background-position: center;
    background-size: cover;
  
  }
  .cointainer{
    width: 28%;
    /* height: ; */
    margin: 100px auto;
  }
  .navbar{
    height: 75px;
    width: 1200px;
    margin-top: 0px;
  }
  
  .logo{
    width: 200px;
    float: left;
    color: #6400e4;
    font-size: 35px;
    padding-left: 20px;
    padding-top: 12px;
  }
  
  
  
  form{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    border: #141c3a ;
  }
  
  
  form label{
    margin: 5px 0;
  }
  
  form input[type="text"],input[type="password"]{
    height: 55px;
    margin: 5px 0;
    border: 0.5px solid #b8b8b85d;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  form a{
    margin: 8px 0;
    text-decoration: none;
    color:var(--main-color) ;
    font-weight: bold;
  }
  form input[type="submit"]
  {
    height: 50px;
    background: var(--main-color);
    font-size: 20px;
    font-family:cursive;
    border: none;
    border-radius: 2px;
    color: white;
    box-shadow: var(--nav-shadow);
    cursor: pointer;
  }
  
  form input[type="submit"]:hover{
    box-shadow: var(--hover-shadow);
    transform: translate(-3px);
  }
  
  .footer h3{
    font-size: 16px;
    opacity: 0.9;
    transition: 0.3s ease;
  }
  
  .footer h3:hover{
    color: #6400e4;
    text-decoration: underline;
  }
  .footer .image{
    display: flex ;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
  }
  
  .footer .image img{
    width: 15%;
    border: 1px solid #e7e7e7;
    padding: 31px;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
  }
  .footer .image img:hover{
    box-shadow: var(--hover-shadow);
    cursor: pointer;
  }
  
  .footer a{
    float:right;
    color: var(--main-color);
    margin: 10px;
  }
  .logo img{
    height: 61px;
    width: 77px;
    border: 2px solid black;
    border-radius: 17px;
    filter: invert(100%);
  }
  